@font-face {
  font-family: "GT Walsheim";
  src: local("GT Walsheim Regular"), local("GTWalsheim-Regular"),
    url("../fonts/GTWalsheim-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: local("GT Walsheim Medium"), local("GTWalsheim-Medium"),
    url("./fonts/GTWalsheim-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: local("GT Walsheim Bold"), local("GTWalsheimBold"),
    url("./fonts/GTWalsheimBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GT Walsheim";
}
